<div class="box-body">
  <form [formGroup]="form" class="form-horizontal">
    <ng-container
      formArrayName="userLinks"
      *ngFor="let link of form.get('userLinks')?.controls; let i = index;">
      <div [formGroupName]="i" class="form-group">
        <label for="link-{{ i }}" class="col-sm-2 control-label">
          <i
            class="fa icon {{ makeIconClassName(kinds[i]) }}"
            [class.error-message]="link.invalid">
          </i>
        </label>
        <div class="col-sm-10 input-group">
          <input
            [class.input-error]="link.invalid"
            formControlName="link"
            placeholder="Your link"
            class="form-control"
            name="link-{{ i }}"
            id="link-{{ i }}"
            #myInput>
          <span
            class="input-group-btn"
            (click)="removeUserLink(i)">
            <button class="btn btn-default">
              <i class="fa fa-remove"></i>
            </button>
          </span>
        </div>
      </div>
    </ng-container>
    <div class="button-block">
      <button (click)="addLink();
                       setFocusOnInput()"
              class="btn btn-primary">
        Add field
      </button>
    </div>
  </form>
</div>
