<section class="content-header">
  <h1>Manage achievements</h1>
</section>
<div class="content">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Achievements</h3>
        <div class="box-tools">
          <button type="button"
                  class="btn btn-primary btn-sm"
                  (click)="addAchievement()">
            Add achievement
          </button>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Kind</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let achievement of achievements; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ achievement.title }}</td>
              <td>{{ achievement.kind }}</td>
              <th class="no-padding text-right">
                <a class="btn btn-primary btn-flat" (click)="editAchievement(achievement)">
                  <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-danger btn-flat" (click)="deleteAchievement(achievement)">
                  <i class="fa fa-trash"></i>
                </a>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
