@import '../../../../styles/variables';

:host {
  background: #d2d6de;
  display: block;
  min-height: 100%;
}

.login-box {
  margin-top: 0;
  padding-top: 7%;
}

hr {
  border-bottom: 0 solid #ccc;
}

.login-logo img {
  display: block;
  margin: 20px auto;
  height: 40px;
}
