<div class="login-box">
  <div class="login-logo">
    <img src="/assets/company-logo.svg" alt="Roonyx">
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Please enter your email. We'll send you password reset instructions.</p>

    <form (ngSubmit)="resetPassword(resetPasswordForm.value)"
          #resetPasswordForm="ngForm"
          *ngIf="!sent">
      <div class="form-group has-feedback" [class.has-error]="errors">
        <input type="email"
               class="form-control"
               name="email"
               placeholder="Email"
               required
               ngModel
               #email="ngModel">
        <span class="help-block" *ngIf="errors">Incorrect email</span>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block">Reset password</button>
        </div>
      </div>
    </form>
    <ng-container *ngIf="sent">
      <hr>
      <p class="login-box-msg">
          Instructions sent.
      </p>
    </ng-container>
  </div>
</div>
