<header class="main-header">
  <div>
    <a class="logo"
    [routerLink]="['/']">
      <img src="/assets/company-logo.svg" alt="Orcheya">
    </a>
  </div>
  <nav class="navbar navbar-static-top">
    <a (click)="sidebarToggle()" class="sidebar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu search-skill">
      <ul class="nav navbar-nav">
        <li class="dropdown tasks-menu"
            app-notifications
            dropdown
            [notifications]="currentUser.notifications"></li>

        <li class="dropdown user user-menu" dropdown>
          <a class="dropdown-toggle" dropdownToggle>
            <img class="user-image"
                 alt="User Avatar"
                 [src]="currentUser.avatar.thumbnail">
            <span class="hidden-xs">{{ currentUser.name }}</span>
          </a>
          <ul class="dropdown-menu modal-header-user" *dropdownMenu>
            <li class="user-header">
              <img class="img-circle"
                   alt="User Avatar"
                   [src]="currentUser.avatar.small"
                   (click)="goToProfile()">
              <p>{{ currentUser.name }}</p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-outline"
                   routerLink="/profile"
                   [queryParams]="{ tab: 'settings' }">
                  <i class="fa fa-cog"></i>
                </a>
              </div>
              <div class="pull-right">
                <a *ngIf="impersonatedMode" (click)="stopImpersonateUser()" class="btn btn-outline margin-r-5">
                  <i class="fa fa-sign-out"></i>
                </a>
                <a (click)="signOut()" class="btn btn-outline">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
