<div class="callout callout-warning"
     *ngIf="form && form.dirty && form.invalid">
  <h4>Invalid data!</h4>

  <p>Please, fill all requirements fields</p>
</div>

<form role="form"
      class="form-horizontal"
      *ngIf="form" [formGroup]="form">
  <div class="box-body">
    <div *ngIf="showButton" class="form-group">
      <label for="name" class="col-sm-2 control-label">Your photo</label>
      <div class="col-sm-10">
        <input type="file"
               id="image"
               class="form-control"
               placeholder="Photo..."
               (change)="onChange($event.target.files)">
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('name') }">
      <label for="name" class="col-sm-2 control-label">Name*</label>
      <div class="col-sm-10">
        <input class="form-control"
               id="name"
               placeholder="Enter name"
               formControlName="name">
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('name') }}</span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('surname') }">
      <label for="surname" class="col-sm-2 control-label">Surname*</label>
      <div class="col-sm-10">
        <input class="form-control"
               id="surname"
               placeholder="Enter surname"
               formControlName="surname">
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('surname') }}</span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('nameCyrillic') }">
      <label for="nameCyrillic" class="col-sm-2 control-label">Name Cyrillic</label>
      <div class="col-sm-10">
        <input class="form-control"
               id="nameCyrillic"
               placeholder="Enter cyrillic name"
               formControlName="nameCyrillic">
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('nameCyrillic') }}</span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('birthday') }">
      <label for="birthday" class="col-sm-2 control-label">Birth date*</label>
      <div class="col-sm-10">
        <input bsDatepicker
               [bsConfig]="{ containerClass: 'theme-dark-blue dark-datepicker', dateInputFormat: 'DD-MM-YYYY' }"
               class="form-control"
               id="birthday"
               placeholder="Enter birth date"
               formControlName="birthday">
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('birthday') }}</span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('sex') }">
      <div class="col-sm-10 col-sm-offset-2 custom-control custom-radio">
        <input type="radio"
               id="sex-male"
               value="male"
               class="custom-control-input"
               formControlName="sex">
        <label for="sex-male" class="custom-control-label">Male</label>
        <input type="radio"
               id="sex-female"
               value="female"
               class="custom-control-input"
               formControlName="sex">
        <label for="sex-female" class="custom-control-label">Female</label>
        <span class="help-block">{{ textError('sex') }}</span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('phone') }">
      <label for="phone" class="col-sm-2 control-label">Phone*</label>
      <div class="col-sm-10">
        <input class="form-control"
               id="phone"
               placeholder="Enter phone"
               formControlName="phone"
               [appMask]="form.get('phone')">
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('phone') }}</span>
      </div>
    </div>

    <div class="form-group"
          [ngClass]="{ 'has-error': hasError('email') }">
      <label for="email" class="col-sm-2 control-label">Email*</label>
      <div class="col-sm-10">
        <input type="email"
               class="form-control"
               id="email"
               placeholder="Enter email"
               formControlName="email">
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('email') }}</span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('timingId') }">
      <label for="timingId" class="col-sm-2 control-label">Timing*</label>
      <div class="col-sm-10">
        <select type="text"
                class="form-control"
                id="timingId"
                formControlName="timingId">
          <option *ngFor="let timing of timings" [value]="timing.id">
            {{ timing.time }}
          </option>
        </select>
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('timingId') }}</span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('skype') }">
      <label for="skype" class="col-sm-2 control-label">Skype</label>
      <div class="col-sm-10">
        <input class="form-control"
               id="skype"
               placeholder="Enter skype"
               formControlName="skype">
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('skype') }}</span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{ 'has-error': hasError('discordName') }">
      <label for="skype" class="col-sm-2 control-label">Discord</label>
      <div class="col-sm-10">
        <input class="form-control"
               id="discordName"
               placeholder="Enter discord"
               formControlName="discordName">
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('discordName') }}</span>
      </div>
    </div>

     <div *ngIf="this.user.favoriteAchievement" class="form-group"
         [ngClass]="{ 'has-error': hasError('achievement') }">
      <label for="achievement" class="achievement col-sm-2 col-xs-2 control-label">
        <img [style]="{ 'background': generationGradient(user.favoriteAchievement), 'padding': user.favoriteAchievement.kind === 'auto' ? '5px' : null}"
             [src]="user?.favoriteAchievement.image.url" alt="achievement">
      </label>
      <div class="col-sm-10 col-xs-10">
        <ng-select [items]="achievements"
                     id="achievement"
                     bindLabel="achievementTitle"
                     bindValue="id"
                     class="dark-select custom"
                     placeholder="Select favorite achievement"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     formControlName="achievement">
          </ng-select>
          <span class="saved-block">Saved</span>
      </div>
    </div>


    <div class="form-group">
      <label for="about" class="col-sm-2 control-label">CV</label>
      <div class="col-sm-10">
       <textarea autosize type="text" class="form-control" placeholder="Enter information about yourself"
                 id="about" formControlName="about" maxlength="400"></textarea>
        <span class="saved-block">Saved</span>
        <span class="help-block">{{ textError('about') }}</span>
      </div>
    </div>

    <div class="form-group"
         *ngIf="showButton">
      <div class="col-sm-10 col-sm-offset-2">
        <button class="btn btn-primary"
                (click)="updateSettings()"
                [disabled]="form.invalid">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
