@import 'variables';

.saved-block {
  display: none;
}

.achievement {
  @media (min-width: 767px) {
    padding: 0;
  }
  img {
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}

.saved-block-active {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #34a659;
}

.custom-radio {
  .custom-control-label {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .custom-control-input {
    margin-right: 5px;
  }
}
