@font-face {
  font-family: Aniron;
  src: url(/assets/fonts/aniron.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Aniron;
  src: url(/assets/fonts/aniron_bold.ttf);
  font-weight: bold;
}
