$primary-text-color: #dedede;
$second-text-color: #999;
$light-text-color: #3a3a3a;
$primary-active: #0089ff;

$primary-border-color: #4d4d4d;
$second-border-color: #949494;
$table-border-color: #1d1d1d;
$light-border-color: #b2b2b2;

$primary-bg-color: #2a2a2a;
$second-bg-color: rgba(191, 191, 191, 0.15);
$box-bg-color: #404040;
$odd-row-bg-color: #353535;
$light-bg-color: #727272;
$lightest-bg-color: #dddddd;

$modal-page-bgc: #D2D6DE;
$text-color-secondary: rgba(0, 0, 0, .54);
$text-muted-color: #b4b3b3;
$red: #F00;
$green: #0F0;
$black: #000;
$white: #FFF;
$blue: #3C8DBC;
$input-border-color: #D2D6DE;
$card-shadow: #CCC;
$card-shadow-hover: #AAA;
$hover-calendar: rgb(0, 183, 98);

$bcg-for-panel: #333;
$danger-color: #f00;
$text-quest: #f8a818;

$c-search-bg-white: rgba(255, 255, 255, .5);
$c-search-shadow-grey: #C3C3C3;
$c-search-text-blue: #3C8DBC;
$c-search-text-green: #008000;
$c-search-text-red: #FF0000;
$danger-color: #F00;
$text-quest: #F8A818;

$c-level-current: $blue;
$c-level-current-checked: #2A009E;
$c-level-current-hover: #2762CF;
$c-level-hover: rgba(0, 174, 255, .714);
$c-level-checked: #006EFF;
$c-level-disapprove: rgba(177, 0, 0, .664);
$c-level-expect: rgb(141, 140, 140);
$c-level: #DDD;
$danger-color: #F00;
$text-quest: #F8A818;

$c-search-bg-white: rgba(255, 255, 255, .5);
$c-search-shadow-grey: #C3C3C3;
$c-search-text-blue: #3C8DBC;
$c-search-text-green: #008000;
$c-search-text-red: #FF0000;


//New colors for demo
$white: #FFF;
$black: #000;


//Gray
$gray-25: #F3F6F8;

//background
$gray-50: #ECEFF1;

//borders
$gray-100: #CFD8DC;

//placeholder
$gray-200: #B0BEC5;

$gray-300: #90A4AE;
$gray-400: #78909C;
$gray-500: #607D8B;

//text
$gray-900: #263238;


//Blue
$blue-100: #BED3FF;
$blue-200: #94B7FF;
$blue-300: #6A9CFF;

//primary button
$blue-400: #4180FF;

//links, highlight in menu
$blue-500: #165FF3;

$blue-600: #0043CA;
$blue-700: #0036A1;


//Azure
$azure-50: #EBFCFF;
$azure-400: #3BE5FC;
$azure-500: #26C4DA;
$azure-600: #15A4B8;
$azure-700: #129cb0;

//Green
$green-100: #E3FFBF;
$green-200: #D0FF93;
$green-300: #BCFF67;
$green-600: #70B815;
$green-700: #589608;


//Yellow
$yellow-100: #FFEFB8;
$yellow-200: #FFE48A;
$yellow-500: #FFC500;


//Red
$red-50: #FFEEE5;
$red-100: #FFD0B7;
$red-200: #FFB28A;
$red-400: #FF752E;
$red-500: #FC5600;
$red-600: #D34800;

//clip-path
$star: polygon(50% 0%, 60% 36%, 98% 35%, 64% 57%, 79% 91%, 50% 68%, 21% 91%, 34% 57%, 2% 35%, 40% 37%);
