@import "../../../../styles/variables";

@keyframes tooltipAnimation {
  0% { transform: translateY(6px) }
  100% { transform: translateY(1px) }
}

:host ::ng-deep .time-activity-wrapper {
  padding: 20px 5px;
  border: solid thin $gray-100;
  border-radius: 5px;

  @media screen and (max-width: 740px) {
    overflow-x: auto;
  }

  .calendar {
    position: relative;
    font-size: 12px;

    /* SVG START */
    svg {
      width: 690px;
      height: 100px;

      //Go to .ts file for changing days' colors
      rect.day {
        stroke: $white;
        stroke-width: 2px;
      }

      text.week {
        text-anchor: start;
        fill: $gray-900;
      }

      text.month {
        fill: $gray-900;
      }
    }

    /* SVG END */

    .tooltip {
      visibility: hidden;
      z-index: 1;
      opacity: .0;
      box-sizing: border-box;
      padding: 10px;
      width: 160px;
      background-color: #333;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 9px;
      font-size: 10px;
      text-align: center;
      transform: translateY(9px);
      box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);

      &::after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12.5px 0 12.5px;
        border-color: #333 transparent transparent transparent;
        position: absolute;
        left: 40%;
        bottom: -10px;
      }

      &.show {
        visibility: visible;
        transform: translateY(-10px);
        opacity: 1;
        transition: opacity .6s linear;
        animation: tooltipAnimation 1s ease-in-out infinite alternate;
      }

      p {
        &.time {
          color: #dde2e5;
          margin-right: 5px
        }
        &.date {
          color: #919599
        }
        display: inline-block;
        margin: 0;
      }
    }
  }
}
