@import "variables";

.box {
  background: $white;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(55,71,79,0.5);
  color: $gray-900;
  a { color: $gray-900;}
}

.success {
  border-top: 3px solid $green-600;;

  .balance-info {
    color: $green-700;
  }
}

.danger {
  border-top: 4px solid $red-400;

  .balance-info {
    color: $red-500;
  }
}

.default {
  border-top: 4px solid $gray-900;
}
