@import '_variables';


.bubble {
  width: 240px;
  padding: 10px;
  color: $gray-900;

  &.english {
    width: 175px;
  }

  .title {
    width:100%;
    margin: 0;
    font-weight: bold;
  }

  .difficulty {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    input {
      display: none;
    }

    label {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      box-sizing: border-box;
      margin: 0 2px;
      overflow: hidden;
      background-color: $gray-100;
      transition:all .3s;
    }

    .current-level {
      background-color: $blue-400;
    }
  }
}
