<div class="login-box">
  <div class="login-logo">
    <a>Orcheya</a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">
      Set your new password
    </p>

    <p class="token-error" *ngIf="errors?.reset_password_token">
      Password recovery token is not found or obsolete.
      <a [routerLink]="['/reset-password']">Request another one</a>
    </p>

    <form (ngSubmit)="setPassword(setPasswordForm.value)"
          #setPasswordForm="ngForm">
      <div class="form-group has-feedback" [class.has-error]="errors?.password">
        <input type="password"
               class="form-control"
               placeholder="Password"
               name="password"
               required
               ngModel
               #password="ngModel">
        <span class="help-block" *ngIf="errors?.password">
          Password is too short.
        </span>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [class.has-error]="noMatch">
        <input type="password"
               class="form-control"
               placeholder="Password confirmation"
               name="password_confirmation"
               required
               ngModel
               #password="ngModel">
        <span class="help-block" *ngIf="noMatch">Passwords don't match</span>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block">Set password</button>
        </div>
      </div>
    </form>
  </div>
</div>
